@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 2em;
  line-height: 1.3em;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.App {
  margin: auto;
  text-align: center;
}

.container {
  max-width: 80vw;
}